body {
  box-sizing: border-box;
}

.game {
  user-select: none;
  cursor: pointer;
}

.row {
  width: 400px;
  height: 25px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

.cell {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid black;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  font-weight: bold;

  &.digit-1 {
    color: blue;
  }
  &.digit-2 {
    color: green;
  }
  &.digit-3 {
    color: darkred;
  }
  &.digit-4 {
    color: purple;
  }
  &.digit-5 {
    color: darkgreen;
  }
  &.digit-6 {
  }
  &.digit-7 {
  }
  &.digit-8 {
  }

  &.is-closed {
    background-color: gray;
  }

  &.is-open {
    background-color: lightgray;
  }

  &.is-revealed {
    &.has-mine {
      background-color: lightgray;
    }
    &.is-active-mine {
      background-color: red;
    }
  }

  .mine-cross {
    position: absolute;
    color: red;
    top: 0;
    left: 0;
    font-size: 24px;
  }
}
