<p>shift-click to flag</p>

<div class='game'>
  {{#each model.cells as |row|}}
    <div class='row'>
      {{#each row as |cell|}}
        {{display-cell cell=cell}}
      {{/each}}
    </div>
  {{/each}}
</div>
